.summary-item {
	display: flex;
	width: 150px;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
	padding: 5px;
}
.summary-item > span {
	font-size: 12px;
}
.badge-dots {
	display: flex;
	width: 200px;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
	padding: 5px;
	line-height: 1.125;
}
.dashboardContainer {
	display: flex;
  	flex-direction: column;
  	height: 95vh;
}
.card{
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .06);
  background: white;
}
.tableContainer {
	margin-top: 20px;
	overflow: scroll;
	text-align: left;
  flex: 1;
}
.containerHeading {
	font-size: 1.2em;
	font-weight: 600;
	padding: 5px;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 1009;
	background: white;
}
.containerSubHeading {
	font-size: 0.8em;
	font-weight: 300;
	padding-left: 5px;
	position: sticky;
	left: 0;
	top: 40px;
	z-index: 1009;
	color: #9fa5b2;
 	background: white;
}
.chartsContainer{
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 350px;
  gap: 10px;
}
.chartsContainer>div:first-child{
	flex: 1
}
.chartsContainer>div:last-child{
	flex: 2
}
.chartsContainer > .card {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.custom-tooltip{
	background: white;
	border: 1px solid #e0e0e0;
	border-radius: 16px;
	padding: 10px;
	box-shadow: 0 2px 7px rgba(20, 20, 43, .06);
}
.logo {
	display: inline-block;      
	padding: 10px;              
	background-color: #ffebeb;
	border-radius: 10px;       
	text-align: center;        
}