#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.gridContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 20px; */
}
@media (min-width: 768px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}